<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<div class="row">
    <div class="col-sm"> <a class="navbar-brand">Navbar</a></div>
    <div class="col-sm">
    
        <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
    
    </div>
    <div class="col-sm">
    
        <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
    
    </div>
    <div class="col-sm-6 test">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
</div>
  </nav>